.form-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.form-header h2 {
  font-size: 30px;
  padding: 20px 0;
  text-align: center;
}
.form-group .input-group {
  width: 100%;
}
.addcourse {
  padding-top: 20px;
  background-color: white;
  border-radius: 10px;
  border: 1px;
  border-style: solid;
}
abel {
  width: 15%;
  padding: 5px;
  background-color: #1bba93;
  color: white;
  border-radius: 5px;
  font-size: 17px;
  position: relative;
  top: -8px;
}
::-webkit-input-placeholder {
  color: #d9d9d9;
}
.form-select {
  width: 90%;
}
.has-search {
  width: 90%;
  padding-bottom: 20px;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 6.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

#table1 {
  margin-top: 10px;
  border: 1.5px dotted grey;
}
#table2 {
  margin-top: 10px;
}

img {
  height: 30px;
  width: 30px;
  border-radius: 5px;
}
.pointer {
  cursor: pointer;
}
#next {
  float: right;
}
#scroll
{
  position: relative;
 height: 150px;
 overflow: auto;
 margin-bottom: 10px;
}